/*Блок*/
.photo-grid {
  margin: 92px 0 0;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
  gap: 16px;
  width: 100%;
  padding: 0 48px 0;
  box-sizing: border-box;
  font-family: "Inter", Arial, sans-serif;
}

@media screen and (max-width: 1152px) and (min-width: 960px) {
  .photo-grid {
    margin: 92px 0 0;
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
  }
}

@media screen and (max-width: 959px) and (min-width: 720px) {
  .photo-grid {
    margin: 88px 0 0;
    grid-template: repeat(6, 1fr) / repeat(2, 1fr);
    gap: 14px;
    padding: 0 24px 0;
  }
}

@media screen and (max-width: 719px) and (min-width: 540px) {
  .page {
    max-width: 600px;
  }
}

@media screen and (max-width: 539px) and (min-width: 320px) {
  .photo-grid {
    margin: 64px 0 0;
    grid-template: repeat(12, 1fr) / repeat(1, 1fr);
    gap: 12px;
    padding: 0 16px 0;
  }
}
