/*Контейнер для картинки и параграфов*/
.place__wrapper {
  height: 460px;
  margin: 48px 0 0;
  display: flex;
 /* display: grid;
  grid-template: 1fr / 0.95fr 1fr;
  gap: calc(100% - 0.95fr - 1fr)*/
}
