.lead__wrapper {
  width: 100%;
  margin: 64px 0 0;
}

@media screen and (max-width: 1150px) {
  .lead__wrapper {
    margin: 56px 0 0;
  }
}

@media screen and (max-width: 720px) {
  .lead__wrapper {
    margin: 48px 0 0;
  }
}

@media screen and (max-width: 540px) {
  .lead__wrapper {
    margin: 40px 0 0;
  }
}
