/*Настоящая страна не в выпусках новостей, а здесь.*/
.lead__subtitle {
  margin: 32px auto 0;
  width: 100%;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
  max-width: 640px;
}
