/*Блок*/
.cover {
  margin: 92px 0 0;
  padding: 0 48px 0;
  width: 100%;
  box-sizing: border-box;
  font-family: "Inter", Arial, sans-serif;
}

@media screen and (max-width: 1150px) {
  .cover {
    padding: 0;
  }
}

@media screen and (max-width: 960px) {
  .cover {
    margin: 90px 0 0;
    padding: 0;
  }
}

@media screen and (max-width: 720px) {
  .cover {
    margin: 78px 0 0;
    padding: 0;
  }
}

@media screen and (max-width: 540px) {
  .cover {
    margin: 66px 0 0;
    padding: 0;
  }
}
