/*Картинка жд путей на фоне*/
.cover__background {
  background-image: url(../../../images/cover-trains.jpg);
  min-height: 740px;
  object-fit: cover;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  background-size: cover;
  margin: 0;
}

@media screen and (max-width: 1150px) {
  .cover__background {
    min-height: 640px;
  }
}

@media screen and (max-width: 960px) {
  .cover__background {
    min-height: 480px;
  }
}

@media screen and (max-width: 720px) {
  .cover__background {
    min-height: 340px;
  }
}

@media screen and (max-width: 540px) {
  .cover__background {
    min-height: 200px;
  }
}
