/*Текст под картинкой*/
.lead__caption {
  margin: 8px auto 0 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 140%;
  color: #ffffff;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media screen and (max-width: 960px) {
  .lead__caption {
    margin: 8px auto 0 48px;
  }
}

@media screen and (max-width: 720px) {
  .page {
    max-width: 600px;
  }
}

@media screen and (max-width: 540px) {
  .lead__caption {
    margin: 8px auto 0 16px;
  }
}
