/*Заголовок*/
.intro__title {
  margin: 0 auto 0 0;
  font-weight: 900;
  font-size: 54px;
  line-height: 107%;
  color: #ffffff;
}

@media screen and (max-width: 720px) {
  .page {
    max-width: 600px;
  }
}

@media screen and (max-width: 540px) {
  .intro__title {
    font-size: 32px;
    line-height: 109%;
  }
}
